{
  "embeddings": [
    {
      "tensorName": "IMDB-Movie-Review-Classifier",
      "tensorShape": [
        1000,
        50
      ],
      "tensorPath": "https://raw.githubusercontent.com/prateekagrawaliiit/IMDB-Movie-Review-Classifier/master/Embedding%20Projector%20Files/vecs.tsv",
      "metadataPath": "https://raw.githubusercontent.com/prateekagrawaliiit/IMDB-Movie-Review-Classifier/master/Embedding%20Projector%20Files/meta.tsv"
    }
  ]
}